.s{
	color: red;
}

.s1{
	color: green;
}

body{
	margin-top: 90px;
}

.jumbotron{
	margin-top: 80px;
	border-radius: 50px;
}

.carousel-caption{
	text-align: center;
}

.container{
	vertical-align: right;
	text-align: center;
}